
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap5</title>
<!-- CDN VERSION LOCAL    <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<!-- CDN VERSION INTERNET --><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>
    .row{
        background: #e8e8e8;
        margin-top:20px;
        
    }
    .columna{
        background: #f2f2f2;
        text-align: center;
        padding: 18px;
        border: 1px solid #4d5061;
    }
</style>

</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <button
                    class="btn btn-primary btn-lg"
                    data-bs-toggle="modal"
                    data-bs-target="#mi-modal-1"
                >Abrir Modal 1
                </button>

                <div class="modal fade" id="mi-modal-1" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> titulo modal</h5>
                                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            
                            <div class="modal-body">
                                <h1>Hola Mundo</h1>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary">Acepto</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>

            </div>

            <div class="col">
                <button
                    class="btn btn-primary btn-lg"
                    data-bs-toggle="modal"
                    data-bs-target="#mi-modal-2"
                >Abrir Modal 2
                </button>

                <div class="modal fade" id="mi-modal-2" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-2" data-bs-backdrop="static">
                    
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> titulo modal</h5>
                                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            
                            <div class="modal-body">
                                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, blanditiis!</h1>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary">Acepto</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>

            </div>



        </div>

    </div>

<!-- CDN VERSION INTERNET -->    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 <!-- CDN VERSION LOCAL   <script src="js/bootstrap.bundle.min.js"></script> -->
</body>
</html>