<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}">
    <title>Formulario de Registro e Inicio de Sesión</title>
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <div class="row">
        <form class="col-6">
            <h2 class="text-center" style="color: #4CAF50;">Crea tu usuario</h2>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña"
                       required>
            </div>
            <div class="form-group">
                <label for="repetirContrasena">Repetir Contraseña</label>
                <input type="password" class="form-control" id="repetirContrasena" placeholder="Repite tu contraseña"
                       required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Crear Usuario</button>
            </div>
        </form>
        <div class="col-5 mt-5">
            <img th:src="@{/img/perfil-usuario/img1.jpg}">
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
