<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>Mis recetas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}">
    <link rel="stylesheet" href="/static/css/estilos2.css">
    <script type="text/javascript" th:src="@{/js/arma-receta-ingrediente.js}" defer></script>
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
        <h1 class="text-center" style="color: #4CAF50;">Mis recetas</h1>
        <div class="row mt-3">
                <!-- SELECCION MULTIPLE DE INGREDIENTES -->           
                <!-- Botón de dropdown -->

            <h4>Favoritos</h4>
            <br>
            <table id="myRecipesTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th> Título </th>
                        <th> Descripcion </th>
                        <th> Valor nutricional </th>
                        <th> Tipo de receta </th>
                        <th> Acción </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${recetas == null || recetas.isEmpty()}">
                        <td colspan="5"> No hay recetas disponibles </td>
                    </tr>
                    <tr th:each="receta : ${recetas}">
                        <td><span th:text="${receta.titulo}"></span></td>
                        <td><span th:text="${receta.descripcion}"></span></td>
                        <td><span th:text="${receta.valorNutricional}"></span></td>
                        <td><span th:text="${receta.tipoDeReceta}"></span></td>
                        <td>
                            <form th:action="@{/recetas/mis-pedidos/agregar-pedido}" method="post">
                                <input type="hidden" name="id" th:value="${receta.id}" />
                                <button type="submit" class="btn btn-success">Agregar a pedido</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
            </table>
            <!-- ---------------------------------------------------------------------------  -->
        </div>

        <div class="row mt-3">
            <h4>Recomendación basada tus preferencias</h4>
            <!-- <button type="button" href="../perfil curso/streamming.html" class="btn btn-success btn-sm" style="width: 150px;" >Generar</button> -->
            <br>
            <table id="myRecommendedRecipeTable" class="table table-bordered">
                <thead>
                <tr>
                    <th> Título </th>
                    <th> Descripcion </th>
                    <th> Valor nutricional </th>
                    <th> Tipo de receta </th>
                    <th> Acción </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(recetasRecomendadas)}">
                    <td colspan="5"> No hay recetas disponibles </td>
                </tr>
                <tr th:each="recetaRecomendada : ${recetasRecomendadas}">
                    <td><span th:text="${recetaRecomendada.titulo}"></span></td>
                    <td><span th:text="${recetaRecomendada.descripcion}"></span></td>
                    <td><span th:text="${recetaRecomendada.valorNutricional}"></span></td>
                    <td><span th:text="${recetaRecomendada.tipoDeReceta}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js" integrity="sha512-lxQ4VnKKW7foGFV6L9zlSe+6QppP9B2t+tMMaV4s4iqAv4iHIyXED7O+fke1VeLNaRdoVkVt8Hw/jmZ+XocsXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

</body>
</html>
